/* @theme rocky-theme */

@import url('fontawesome.css');
@import url('solid.css');
@import url('brands.css');
@import url('regular.css');
@import 'gaia';

header {
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: #10b981;
  align-content: right;
  font-size: 1em;
  padding: 20px;
  color: #fff;
}

footer {
  display: grid;
  grid-template-columns: 1fr max-content;
  background-color: #10b981;
  align-content: right;
  color: #fff;
}
section footer {
  color: white;
}
kbd {
    background-color: #fafafa;
    border: .05rem solid #0000008a;
    border-radius: .12rem;
    box-shadow: .08rem .08rem #0000008a;
    color: #000000de;
    display: inline-block;
    font-size: .75em;
    padding: 0 .6666666667em;
    vertical-align: text-top;
    word-break: break-word;
}
/* Styles for unordered lists */
section ul {
  color: #10b981;
  list-style: none;
}
section ul li {
  color: #085c40;
}/* Style for nested entry */
section ul li li {
  color: #0c9467;
}
section ul li li li {
  color: #0b815a;
}
/* Style for list bullets */
section ul li:before {
    color: #00b0ff;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}
section ul li li:before {
    color: #ff9100;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}
section ul li li li:before {
    color: #64dd17;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
}
/* Style for ordered lists */
section ol {
   list-style: none;
   counter-reset: item;
}
section ol li {
   counter-increment: item;
   margin-bottom: 0.1em;
}
section ol li:before {
   margin-right: 0.4em;
   content: counter(item);
   background: #10b981;
   border-radius: .5rem;
   color: white;
   width: 1.2em;
   text-align: center;
   display: inline-block;
 }
/* Styling page number */
section::after {
  font-weight: bold;
  color: #fff;
}
section a,a:link,a:visited {
  text-decoration: dotted;
}

section a:hover {
  text-decoration-line: underline;
}

section h1 {
  color:#096f4d;
}

section h2 {
  color: #064d35;
}
section h3,h4 {
  color: #3a8b70;
}
/* Style for the button in the header */
.top_link {
  display: inline-block;
}
.top_link a {
  background-color: #fff8e1;
  border-style: solid;
  border-width: .1em;
  border-color: #a5bfb2;
  border-radius: .5em;
  color: white;
  padding: .3em;
}
.top_link a:hover {
  background-color: #fffcf6;
  text-decoration-style: none;
}
/* Style for text in footer */
.footer_text {
  color: white;
}
/* Style for the plan section menu */
.plan {
  background-color: #cfefdf;
  font-size: .9em;
  color: #448aff;
  border-radius: .5em;
  height: 70%;
  padding: 1em;
}
/* Button for chapters */
.button a {
  background-color: #fdf6e2;
  padding: 0em 0.6em 0em 0.6em;
  text-decoration: none;
  color: #6b7280;
  border: 2px solid #6b7280;
  border-radius: .6rem;
  text-decoration: none;
  float: right;
}
.button a:hover {
  background-color: #fefbf2;
  text-decoration: none;
}
.button {
  float: right;
}

.fa-solid {
  background-color: #10b981;
  border-radius: 0.2em;
  color: white;
  padding: 0.3em;
}
/* Styling admonitions */
.note,
.abstract,
.info,
.tip,
.question,
.warning,
.danger {
  border-radius: 0.5em;
  border-style: solid;
  border-width: 0.1em;
  padding: 0em 0.6em 0.6em 0.6em;
  margin: 0.5em;
  color: #111827;
}
.note {
  background-color: #d9e7ff;
  border-color: #c5dbff;
}
.note-icon {
  color: #448aff;
}
.abstract {
  background-color: #e5f7ff;
  border-color: #b2e7ff;
}
.abstract-icon {
  color: #00b0ff;
}
.info {
  background-color: #e5f7fa;
  border-color: #b2e9f2;
}
.info-icon {
  color: #00b8d4;
}
.tip {
  background-color: #e5f8f6;
  border-color: #b2ebe4;
}
.tip-icon {
  color: #00bfa5;
}
.question {
  background-color: #effbe7;
  border-color: #d0f4b9;
}
.question-icon {
  color: #64dd17;
}
.warning {
  background-color: #fff4e5;
  border-color: #ffdeb2;
}
.warning-icon {
  color: #ff9100;
}
.danger {
  background-color: #ffe7ec;
  border-color: #ffb9c6;
}

.danger-icon {
  color: #ff1744;
}

img[alt~="center"] {
  display: block;
margin: 0 auto;
}

blockquote {
  background: #ffedcc;
  border-left: 10px solid #d1bf9d;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before{
  content: unset;
}

blockquote:after{
  content: unset;
}

.columns {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  text-align: left;
}

.columns3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
} 

.fa-twitter { color: aqua; }
.fa-mastodon { color: purple; }
.fa-linkedin { color: blue; }
.fa-window-maximize { color: skyblue; }
